.menu-item::before {
    content: ' ';
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #FF7E37 0%, #FF1D70 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}